.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}


@media only screen and (max-width: 360px) {
  .header__square-pic {
    height: 160px;
    width: 160px;
  }
}

@media only screen and (max-width: 600px) {
  .header__square-pic {
    height: 200px;
    width: 200px;
    top: 50%;
  }
}
