.khan__quote {
  width: 100%;
  margin: 0;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

@media only screen and (max-width: 360px) {
  .khan__quote {
    line-height: 18px;
    font-size: 12px;
  }
} 

@media only screen and (max-width: 600px) {
  .khan__quote {
    line-height: 24px;
    font-size: 18px;
  }
} 