.logo_place_header {
  top: 30px;
  left: 64px;
  height: 100px;
  z-index: 4;
  position: absolute;
  background-image: url(../../../images/logo/UEFA\ Euro\ 2024\ Germany.svg);
}


@media only screen and (max-width: 360px) {
  .logo_place_header {
    top: 10px;
    left: 34px;
  }
}
