.page {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'UEFA Euro book', Arial, sans-serif;
}

@media only screen and (max-width: 360px) {
  .page {
  padding: 16px 16px 48px 16px;
  }
}