.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
  transition: opacity 0s linear 0s;
}

.footer__column-link:hover {
  opacity: 0.6;
}
