@import url(./countdown-timer.css);

#time {
  display: flex;
  gap: 30px;
  justify-content: center;
}

#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
  transform-origin: 50% 50%;
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: grey;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke: var(--clr);
}

#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: black;
  font-size: 1.7em;
}

#time div span {
  position: absolute;
  transform: translateX(-50%) translateY(-10%);
  font-size: 0.35em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#time .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

#time .dots::before {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr),
  0 0 60px var(--clr);
}

.raceInParis {
  font-size: 8em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 0.6em;
  display: none;
}

.raceInParis span {
  font-size: 0.3em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
}

@media only screen and (max-width: 360px) {
  #time {
    flex-wrap: wrap;
  }
  #time .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}