.feinman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
  transition: opacity 0s linear 0s;
}

.feinman__link:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 360px) {
  .feinman__link {
    font-size: 18px;
    top: 80%;
  }
}  

@media only screen and (max-width: 600px) {
  .feinman__link {
    font-size: 18px;
    top: 90%;
  }
}  
