.techniques {
  padding-bottom: 100px;
  margin: auto;
  width: 80%;
}


@media only screen and (max-width: 360px) {
  .techniques {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .techniques {
    width: 100%;
    padding-bottom: 40px;
  }
}