@import url(./__triangle/kaufman__triangle.css);

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
  }


@media only screen and (max-width: 360px) {
  .kaufman {
    padding: 20px;
      }
  }  
  
@media only screen and (max-width: 600px) {
  .kaufman {
    padding: 40px;
      }
  }    