.table__cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box; /* Учитывать padding и border в ширине и высоте */
  overflow: hidden; /* Скрывать переполнение */
  word-wrap: break-word; /* Переносить длинные слова */
}

@media only screen and (max-width: 360px) {
  .table__cell {
    width: 180px;
    margin-top: 20px;
  }
}  

@media only screen and (max-width: 600px) {
  .table__cell {
    flex: 1 1 45%; /* Занимает 45% ширины контейнера */
    margin: 10px; /* Отступы между карточками */
    box-sizing: border-box; /* Учитывать padding и border в ширине и высоте */
    overflow: hidden; /* Скрывать переполнение */
    word-wrap: break-word; /* Переносить длинные слова */
  }
}  
