.table__cell {
  width: 250px;
  margin-top: 60px;
}

@media only screen and (max-width: 360px) {
  .table__cell {
    width: 180px;
    margin-top: 20px;
  }
}  

@media only screen and (max-width: 600px) {
  .table__cell {
    width: 50%;
    margin-top: 20px;
  }
}  
