@import url(./_content/footer__column_content_copyright.css);
@import url(./_content/footer__column_content_info.css);
@import url(./_content/footer__column_content_social.css);

.footer__column {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  text-align: right;
}


@media only screen and (max-width: 600px) {
  .footer__column {
    text-align: center;
  }
}
