@import url(./__cell/table__cell.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);
@import url(./_theme/table_theme_dark.css);
@import url(./__cell/_theme/table__cell_theme_dark.css);

.table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 20px; /* Расстояние между блоками */
  justify-content: center; /* Центрирование карточек по горизонтали */
}

.table--5x5 {
  grid-template-columns: repeat(5, 1fr);
}

.table--4x4 {
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 600px) {
  .table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки на маленьких экранах */
    gap: 10px; /* Отступы между карточками */
    justify-content: center; /* Центрирование карточек по горизонтали на маленьких экранах */
  }
  .table--5x5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .table--4x4 {
    grid-template-columns: repeat(2, 1fr);
  }
}  