.resources__logo-zone {
width: 90%;
margin: auto;
margin-top: 80px;
display: flex;
justify-content: center;
}

@media only screen and (max-width: 600px) {
    .resources__logo-zone {
        margin-top: 40px;
        }
    }  