.khan__title {
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}


@media only screen and (max-width: 360px) {
  .khan__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}  