.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

@media only screen and (max-width: 360px) {
  .table_theme_dark  {
    margin-bottom: 30px;
      }
  }  

@media only screen and (max-width: 600px) {
  .table_theme_dark  {
    margin-bottom: 40px;
      }
  }    