.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../../../images/logo/kaufman-triangle.svg);
  background-size: contain;
}

@media only screen and (max-width: 360px) {
  .kaufman__triangle  {
    width: 300px;
    height: 300px;
    right: -90px;
      }
  }   

@media only screen and (max-width: 600px) {
.kaufman__triangle  {
  width: 300px;
  height: 300px;
  right: -120px;
    }
}  
  