.header__main-illustration {
  max-width: 100%;
  height: auto;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}


@media only screen and (max-width: 360px) {
  .header__main-illustration {
    width: 250px;
    height: 200px;
    top: 64px;
  }
}

@media only screen and (max-width: 600px) {
  .header__main-illustration {
    bottom: 20%;
  }
}