.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  .table__text  {
    font-size: 14px;
      }
  }  