.khan__book-pic {
width: 500px;
height: 500px;
margin-right: 48px;
object-fit: cover;
object-position: left top;
}

@media only screen and (max-width: 360px) {
.khan__book-pic {
    width: 250px;
    height: 250px;
    margin-right: 0px;
    }
}  